-------------------------------
2016-06-10 18:57:33 +0100
-------------------------------
iTransMap	Version-1.0.0
-------------------------------
Tool	Path
-------------------------------
samtools   /usr/bin/samtools
smalt      /home2/ISAD/ks575/software/SMALT/0.7.6/bin/smalt
R          /usr/bin/R
seqtk      /home2/ISAD/ks575/software/seqtk/seqtk-master/seqtk
sickle     /home2/ISAD/ks575/software/sickle/sickle-master/sickle
blastn     /home2/ISAD/ks575/software/maker_deps/ncbi-blast-2.4.0+/bin/blastn
makeblastdb /home2/ISAD/ks575/software/maker_deps/ncbi-blast-2.4.0+/bin/makeblastdb
nhmmer     /usr/bin/nhmmer
